<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

    <appSettings>
        <!-- 巡回コースCSVファイル -->
        <add key="course_csv" value="C:\Work\PRS\DoroPatroid\DoroPatrol_1sekkei\doc\01.DB設計\2020マスタデータ整備\コース軌跡\bin\Debug\m_junkai_course.csv" />

        <!-- コースJSONフォルダ -->
        <add key="json" value="C:\Work\PRS\DoroPatroid\DoroPatrol_1sekkei\doc\01.DB設計\2020マスタデータ整備\コース軌跡\軌跡データ" />

        <!-- コース軌跡SQL出力先 -->
        <add key="output" value="C:\Work\PRS\DoroPatroid\DoroPatrol_1sekkei\doc\01.DB設計\2020マスタデータ整備\sql" />
    </appSettings>
    
</configuration>
